.baseline__timeline {
  position: relative;
  padding: 100px 0;
  background: var(--color-timelinebg);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.baseline__timeline-wrapper {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.baseline__timeline-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid #bdbdbd;
  z-index: 1;
}

.baseline__timeline-entry {
  position: relative;
  display: flex;
  width: 100%;
  margin: 80px 0;
  z-index: 2;
}

.baseline__timeline-entry__text-left {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.baseline__timeline-entry__text-right {
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

.baseline__timeline-content {
  background: #fff;
  color: #000;
  width: 450px;
  max-width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.baseline__timeline-entry__text-left .baseline__timeline-content {
  align-items: flex-start;
  text-align: left;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.baseline__timeline-entry__text-right .baseline__timeline-content {
  align-items: flex-end;
  text-align: right;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.baseline__timeline-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.baseline__timeline-underline {
  width: 100px;
  height: 4px;
  background: var(--gradient-bar);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
}

.baseline__timeline-text {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-timelineText);
}

.baseline__timeline-text a {
  color: var(--color-highlightedText);
  text-decoration: underline;
}

.baseline__timeline-entry::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  background-color: orange;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 8px #f7f7f7;
  z-index: 2;
}

.baseline__timeline-entry::after {
  content: none;
}

.baseline__timeline-year {
  position: absolute;
  top: 50%;
  left: 50%;
  color: orange;
  font-size: 35px;
  font-weight: 600;
  line-height: 35px;
  padding: 10px 15px;
  white-space: nowrap;
  z-index: 3;
  transform: translate(-50%, -50%);
}

.baseline__timeline-entry__text-left .baseline__timeline-year {
  transform: translate(-50%, -50%) translateX(100%);
}

.baseline__timeline-entry__text-right .baseline__timeline-year {
  transform: translate(-50%, -50%) translateX(-100%);
}

.baseline__timeline-entry__text-left .baseline__timeline-underline {
  margin-left: 0;
  margin-right: auto;
}

.baseline__timeline-entry__text-right .baseline__timeline-underline {
  margin-left: auto;
  margin-right: 0;
}

.baseline__timeline-gallery {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  max-width: 450px;
  height: 250px;
  overflow: hidden;
}

.baseline__timeline-gallery-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
}

.baseline__timeline-gallery-arrow:hover {
  background: rgba(0, 0, 0, 0.7);
}

.baseline__timeline-gallery-arrow-left {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: orange;
}

.baseline__timeline-gallery-arrow-right {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: orange;
}

.baseline__timeline-gallery-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

@media (max-width: 1100px) {
  .baseline__timeline-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid #bdbdbd;
    z-index: 1;
  }

  .baseline__timeline-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 60px 0;
    text-align: center;
  }

  .baseline__timeline-entry::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 8px #f7f7f7;
    z-index: 2;
  }

  .baseline__timeline-year {
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 50%;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
    padding: 5px 10px;
    white-space: nowrap;
    z-index: 3;
    text-align: center;
  }

  .baseline__timeline-content {
    width: 90%;
    max-width: 600px;
    margin-top: 60px;
    background: #fff;
    color: #000;
    padding: 20px;
    border: 1px solid rgba(191, 191, 191, 0.4);
    box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
    text-align: left;
    display: block;
  }

  .baseline__timeline-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .baseline__timeline-text {
    font-size: 0.95rem;
    line-height: 1.4;
    color: #333;
  }

  .baseline__timeline-gallery {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    max-width: 90%;
    height: 250px;
    overflow: hidden;
  }

  .baseline__timeline-gallery-image {
    display: block;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
  }
}