@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --font-family: 'Space Grotesk', sans-serif;

    --gradient-bar: linear-gradient(90deg, rgba(223, 147, 79, 1) 0%, rgba(224, 194, 64, 1) 100%);
    --gradient-text: linear-gradient(89.97deg, #DF6D1B 1.84%, #E0C240 102.67%);
    --gradient-button: linear-gradient(180deg, rgba(224, 162, 64, 1) 0%, rgba(223, 109, 27, 1) 52%);

    --color-bg: #17052b;
    --color-footer: #17052b;
    --color-buttons: #DF6D1B;
    --color-headline: white;
    --color-timelinebg: #17052b;
}

