@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --font-family: 'Space Grotesk', sans-serif;

    --gradient-bar: linear-gradient(90deg, rgba(223, 147, 79, 1) 0%, rgba(224, 194, 64, 1) 100%);

    --color-bg: #17052b;
    --color-footer: #110421;
    --color-sidebar: #110421;
    --color-highlightedText: #DF6D1B;
    --color-headline: white;
    --color-timelinebg: #17052b;
    --color-timelineText: #333;
}

